.formField {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;

    label {
        font-size: 14px;
        font-weight: bold;
        color: #58667E;
    }

    input, select, textarea {
        background-color:  #252526;
        border: none;
        position: relative;
        color: #333333;
        width: 100%;
        color: white;
        font-family: "Anonymous Pro", monospace;
        font-size: 16px;
        padding: 4px 8px;
        
        &:focus{
            outline: none;
            box-shadow: 0 0 0 0 #fff inset, #33FF33 0 0 0 0.25px;
        }
    }

    span {
        color: #FF3333;
        font-size: 14px;
    }
}