.management {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

.chat {
    flex-direction: row;
}

.qa {
    flex-direction: column;
    gap: 10px;
    .group {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .block {
        flex-direction: column;
        gap: 10px;

        .group {
            flex-direction: row;
            width: 100%;
        }
    }
}

@media screen and (max-width: 390px) {
    .block {
        .group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 60px;
        }
    }
}